<div class="jtin_bot">
  <div class="bot1">
    <div class="box">
      <div class="add">联系地址<span>{website('address')}</span></div>
      <div class="add mail">联系邮箱<span>{website('email')}</span></div>
      <div class="tel">服务电话<span>{website('tel2')}</span></div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="bot2">
    <div class="box">
      <div class="left"> <span>关于我们</span> {website('gywm')} </div>
      <div class="right">
        <ul>
          <li> <a href="/partners.html" class="a1">关于中博</a> <a href="/partners.html">合作伙伴</a> <a href="/education.html">创新教育</a> <a href="/development.html">发展历程</a> <a href="/enterprise.html">企业荣誉</a> <a href="/job.html">加入中博</a> <a href="/teacher.html">师资团队</a> <a href="/contactus.html">联系我们</a> </li>
          <li> <a href="/business.html" class="a1">业务体系</a> </li>
          <li> <a href="/qydt.html" class="a1">新闻中心</a> <a href="/qydt.html">企业动态</a> <a href="/mtbd.html">媒体报道</a> <a href="/zyhd.html">重要活动</a> </li>
          <li> <a href="/founder.html" class="a1">社会责任</a> <a href="/founder.html">创始人寄语</a> <a href="/welfare.html">社会公益</a> <a href="/scholarship.html">奖学金</a> </li>
        </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="bot3">
    <div class="box">
      <div class="left">{website('bottomleft')}</div>
      <div class="right">{website('bottomright')}</div>
    </div>
  </div>
</div>