<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit">
<meta name="format-detection" content="telephone=no, email=no" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<link rel="shortcut icon" href="/favicon.ico" />
<title>{$create[title]}</title>
<meta name="Keywords" content="{$create[keywords]}" />
<meta name="Description" content="{$create[jianjie]}" />
<link rel="stylesheet" type="text/css" href="{CSS_PATH}zb/css.css" />
<script type="text/javascript" src="{JS_PATH}zb/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="{JS_PATH}zb/jt_head.js"></script>
<script type="text/javascript" src="{JS_PATH}zb/idangerous.swiper.min.js"></script>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}zb/idangerous.swiper.css" />
<link rel="stylesheet" type="text/css" href="{CSS_PATH}zb/fonts.css" />
<link rel="stylesheet" type="text/css" href="{CSS_PATH}zb/z_css.css" />
<script>
$(function(){
	var mySwiper = new Swiper('.jtz_fz',{
		slidesPerView:6,
		slidesPerGroup:6,
		onSlideChangeEnd:function(){
			oText()
		}
	});
	  $('.arrow-left').on('click', function(e){
		e.preventDefault()
		mySwiper.swipePrev()
	  })
	  $('.arrow-right').on('click', function(e){
		e.preventDefault()
		mySwiper.swipeNext()
	  })
	  function oText(){
		  var oText1= $('.swiper-slide-visible').eq(0).find(".txt").text()
		  var oText2= $('.swiper-slide-visible').eq($('.swiper-slide-visible').length-1).find(".txt").text()
		  $(".jtz_fz .t_txt").text(oText1 +' - '+ oText2);
	  }
	oText();
});
</script>
</head>
<body>
{template "content","header"}
<div class="l_head_87" style="background-image:url({$create[pic]});">
  <div class="jtz_txt">
    <h2>{$create[one]}</h2>
    <span>{$create[english]}</span> <i></i> </div>
</div>
<div class="jtz_fz">
  <div class="t_txt">2016 - 2004</div>
  <ul class="swiper-wrapper">{pc:get sql="SELECT * FROM `zb_gyzb_fzlc` WHERE status_del=0 ORDER BY paixu DESC"}
         {loop $data $edu}
    <li class="swiper-slide">
      <div class="li">
        <div class="tet">{$edu[content]}</div>
        <div class="txt">{$edu[title]}</div>
      </div>
    </li>{/loop}
          {/pc}
  </ul>
  <div class="arrow"><i class="arrow-left"></i><i class="arrow-right"></i></div>
</div>
{template "content","footer"}
</body>
</html>
